.wrap {
  width: 90%;
  margin: 5px auto;
  overflow: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.app {
  overflow: auto
}



.code {
  width: 45%;
  float: left;
}

.ast {
  width: 45%;
  float: right;
}

.input-form textarea {
  display: block;
  height: 300px;
  width: 100%;
  font-family: Courier, sans-serif;
  font-size: 14px;
  padding: 5px;
}

.input-form input {
  display: block;
  background: #ddd;
  width: 25%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
}


.ast ul {
  margin: 5px;
  padding: 0;
}

.ast-node {
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
}
.ast li {
  list-style: none;
  margin-bottom: 5px;
}

.ast-node h4 {
  text-decoration: underline;
  color: blue;
  margin: 2px 0;
}

.ast-node h4:hover {
  text-decoration: none;
  cursor: pointer
}

div.path code {
  position: absolute;
  z-index: 999;
  background: white;
  bottom: 20px;
  right: 20px;
  padding: 5px;
}

div.path code.hidden, .hidden { display: none; }

